<h1>Cadastrar Usuarios</h1>
<form action="/cadUsuario" method="post">
    <input type="text" name="nome" placeholder="informe o nome"/><br><br>
    <input type="password" name="senha" placeholder="informe a senha"/>
    <br><br>
    <input type="submit" name="conectar">
</form>